body{
	font-family:  "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

.clearfix{
	clear:both;
}


#wrapper{
	position:relative;
	padding-top: 15px;
}

.top-gap{
	display:block;
    margin:auto;
}

.verify-content{
	width:390;
	margin-bottom: 10px;
	font-size: 16px;
}

.second-wrapper{
	width: 100%;
	/*background-color: #f2f2f6;*/
	height: 100%;
	padding-top: 20px;
}
.confirm-img{
	float:left;
	width: 60px;
	text-align: center;
	margin-top: 8px;
	margin-right: 15px;
}

.confirm-field{
	float:left;
	width: 280px;
	height: 55px;
}
.confirm{
	width: 240px;
	font-size: 16px;
	height: 35px;
	padding: 5px;
	margin-top: 10px;
}
.fields{
	margin-bottom: 20px;
	height: 60px;
}


/* Submit Button */


.rc-button {
    padding: 0;
    width: 275px;
    background-color: #357ae8;
}

.rc-button, .rc-button:visited {
    -moz-user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #444;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    min-width: 46px;
    padding: 0 8px;
    text-align: center;
}

.rc-button-submit:hover {
    background-color: #357ae8;
    background-image: -moz-linear-gradient(center top , #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.rc-button-submit:active {
    background-color: #357ae8;
    background-image: -moz-linear-gradient(center top , #4d90fe, #357ae8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.rc-button-submit, .rc-button-submit:visited {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.error {
	color: #ff0033;
	font-size: 15px;
	margin: 0 auto 10 auto;
	text-align: center;

}