
.login-canvas0 {
    background-image: url("aol-canvas1.jpg");
}
.login {
    background-color: #FFFFFF;
    background-position: right top;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    float: right;
    padding: 20px;
    position: relative;
    width: 253px;
    z-index: 600;
}
div, p {
    margin: 0;
    padding: 0;
}
body {
    color: #666666;
    font: 12px Arial;
}


#lpmod {
    margin: 0;
    padding: 0;
    width: 253px;
}

.login #lpmod span#si3 {
    display: block;
    padding-bottom: 10px;
}

body .port_land * {
    font-family: arial;
    font-weight: 400;
}


#lpmod .inputBox{height:30px;width:246px;padding-top:4px;padding-left:5px;border:solid 1px #CCC;}
#lpmod .inputBox:focus{background-color:#FAFFBD;outline:medium none;}
input {
    font-family: arial;
    font-size: 100%;
    margin: 0;
    padding: 0;
}


body .port_land * {
    font-family: arial;
    font-weight: 400;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
    font-size: 100%;
}

#lpmod #continueID, #lpmod #submitID, #lpmod .submit-action {
    border: 1px solid #777777;
    border-radius: 6px 6px 6px 6px;
    clear: both;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    padding: 5px 0;
    width: 253px;
}
#lpmod #continueID, #lpmod #submitID, #lpmod .submit-action {
    background: -moz-linear-gradient(center top , #73B8ED 0px, #4391E3 100%) repeat scroll 0 0 transparent;
}
#lpmod #captchaBlk input{width:153px;}
#lpmod #asqcreate label, #lpmod #aol label {
    margin: 15px 0 5px;
}
#lpmod #asqcreate label, #lpmod #captcha label, #lpmod #asq label, #lpmod #aol label {
    color: #666666;
    display: block;
    font: 13px Arial;
    width: 252px;
}
#lpmod #submitID,#lpmod .submit-action{background:#73b8ed;background:-moz-linear-gradient(top,#73b8ed 0,#4391e3 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#73b8ed),color-stop(100%,#4391e3));background:-webkit-linear-gradient(top,#73b8ed 0,#4391e3 100%);background:-o-linear-gradient(top,#73b8ed 0,#4391e3 100%);background:-ms-linear-gradient(top,#73b8ed 0,#4391e3 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73b8ed',endColorstr='#4391e3',GradientType=0);background:linear-gradient(top,#73b8ed 0,#4391e3 100%);}